.banner {
    background-color: black;
    color: white;
    margin-top: 75;
    text-align: center;
    padding: 50px 0;
}

#Jordan-3s {
    background-color: black;
    height: 300px;
    width: 500px;
}
#Jordan {
    color: red;
    font-size: 100px;
}

.bold {
    font-weight: 900;
}
